<footer>
    <div class="container-fluid">
        <div class="py-5 px-5 footer-top">
            <div class="row">
                <div class="col-6 col-md-3 download">
                    <h5>Help & Support</h5>
                    <ul class="list-unstyled">
                        <li><a href="#">FAQs</a></li>
                        <li><a href="#">Membership</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md-3">
                    <h5>Menu</h5>
                    <ul class="list-unstyled">
                        <li><a href="#">Purchasing Policy</a></li>
                        <li><a href="#">Terms & Condition</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md-3">
                    <h5>Contact Us</h5>
                    <ul class="list-unstyled">
                        <li>{{ site_info.address }}</li>
                        <li>Email: {{ site_info.email }}</li>
                        <li>Contact no: {{ site_info.contact }}</li>
                    </ul>
                </div>
                <div class="col-6 col-md-3">
                    <h5>Get in Touch</h5>
                    <ul class="list-unstyled social">
                        <li><a href="https://facebook.com/{{ site_info.facebook }}" target="_blank"><i
                                    class="fab fa-facebook-f"></i></a></li>
                        <li><a href="tel:{{ site_info.contact}}" target="_blank"><i
                                    class="fab fa-whatsapp"></i></a></li>
                        <li><a href="https://youtube.com/{{ site_info.youtube }}" target="_blank"><i
                                    class="fab fa-youtube"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="mx-5 footer-bottom">
            <p class="text-center">
                &copy; {{ current_year }} {{ site_info.name }}. All rights reserved.
            </p>
        </div>
    </div>
</footer>