<footer>
    <div class="container-fluid">
        <div class="py-5 px-5 footer-top">
            <div class="row">
                <div class="col-6 col-md-3 download">
                    <h5>Download</h5>
                    <img src="https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png"
                        alt="" class="img-fluid">
                </div>
                <div class="col-6 col-md-3">
                    <h5>Menu</h5>
                    <ul class="list-unstyled">
                        <li><a href="#">Purchasing Policy</a></li>
                        <li><a href="#">Terms & Condition</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md-3">
                    <h5>Contact Us</h5>
                    <ul class="list-unstyled">
                        <li>House #8 (1st Floor), Road # 14</li>
                        <li>Email: support@evaly.com.bd</li>
                        <li>Contact no: 09638111666</li>
                    </ul>
                </div>
                <div class="col-6 col-md-3">
                    <h5>Get in Touch</h5>
                    <ul class="list-unstyled social">
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="mx-5 footer-bottom">
            <p class="text-center">
                &copy; 2020 eTech. All rights reserved.
            </p>
        </div>
    </div>
</footer>