@import "../utils/variables";

section.hero {
	.hero-content-wrapper {
		text-align: center;

		.title {
			font-weight: bold;
		}

		.subtitle {
			opacity: 0.8;
			font-size: 13px;
		}
	}
	.featured-category {
		.featured-category-item {
			background: white;
			padding: 15px;
			font-size: 12px;
			color: rgba(0, 0, 0, 0.7);
			text-align: center;
			border-radius: 8px;
			box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12);
			width: 129px;

			img {
				width: 70px;
			}

			p {
				margin: 0px;
			}
		}
	}
}

section.categories {
	background: #f5f5f5;

	.title {
		font-weight: bold;
		text-transform: uppercase;
	}

	.subtitle {
		font-weight: bold;
	}

	.item {
		background-color: #ffffff;
		border: 1px solid rgba(0, 0, 0, 0.1);
		border-radius: 3px;
		margin: 7px;
		transition: 0.3s ease-in;

		&:hover {
			transform: translateY(-5px);
		}

		a {
			color: inherit;
		}

		.subc {
			&:hover {
				color: $primary-color;
			}
		}
	}
}

.call-to-action {
	background-color: #e0e0e0;

	.ylw-post-btn {
		background: #e5be45;
		color: $primary-color;
		font-weight: bold;
	}
}
