.product-detail {
	.sharer {
		margin: 10px 0px;

		.media {
			border: 1px solid rgba(0, 0, 0, 0.5);
			display: flex !important;
			width: 28px;
			height: 28px;
			font-size: 14px;
			margin-left: 5px;
			align-items: center;
			justify-content: center;
			border-radius: 5px;
			opacity: 0.7;
			transition: 0.1s ease-in;

			&:hover {
				background: #eeeeee;
			}
		}
	}

	.detail-content {
		.sub-heading {
			font-size: 0.9em;
			font-weight: 800;
		}

		.description {
			opacity: 0.9;
			font-size: 14px;
		}
	}

	.thumbnail-wrapper {
		width: 300px;
		height: 250px;

		img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: "cover";
		}
	}

	#details {
		p,
		small {
			opacity: 0.9;
			font-size: 14px;
		}

		#details-body {
			hr {
				margin-top: 0%;
			}

			img {
				width: 500px;
				object-fit: cover;
			}
		}

		#details-user {
			img {
				object-fit: cover;
				height: 150px;
				width: 150px;
				border-radius: 50%;
				position: center;
			}
		}
	}
}
