{% extends 'main/base.html' %}
{% load static %}

{% block meta %}
<title>Register | Ekroybikroy</title>
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'account/css/style.css' %}">
{% endblock %}

{% block body %}
<div class="login-area">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-5 mx-auto">
        <div class="form">
            <form class="login-form" method="post">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col-md-6">
                        <input type="text" name="first_name" placeholder="First Name" />
                    </div>
                    <div class="col-md-6">
                        <input type="text" name="last_name" placeholder="Last Name" />
                    </div>
                </div>
                <input type="text" name="username" placeholder="username" />
                <input type="email" name="email" placeholder="email" />
                <div class="form-row">
                    <div class="col-md-6">
                        <input type="password" name="password1" placeholder="password" />
                    </div>
                    <div class="col-md-6">
                        <input type="password" name="password2" placeholder="password" />
                    </div>
                </div>
                <button type="submit">Register</button>
                <p class="message">Already have an account? <a href="{% url 'login-page' %}">Login</a></p>
            </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock body %}