{% extends 'main/base.html' %}
{% load static %}

{% block meta %}
<title>{{ product.title }} | {{ site_info.name }}</title>
{% endblock %}


{% block styles %}
<style>
    .btn-lg {
        font-size: 19px;
    }
</style>
{% endblock %}

{% block body %}
<div class="wrapper py-1 product-detail">
    <div class="container-fluid">
        <div class="d-flex flex-row py-2" id="details">
            <div class="col-lg-8" id="details-body">
                <div class="card my-3">
                    <div class="card-body">
                        <div class="d-flex justify-content-between m-1">
                            <div>
                                <h5 style="font-weight: 800;">{{ product.title }}</h5>
                                <small>
                                    <span class="mr-4"><i
                                            class="fas fa-map-marker-alt mr-1"></i>{{ product.location.name }}</span>
                                    <span class="mr-4"><i class="far fa-clock mr-1"></i>{{ product.created_at }}</span>
                                    <span><i class="far fa-eye mr-1"></i>{{ product.views }}</span>
                                </small>
                                <div class="d-flex align-items-center sharer">
                                    <div class="mr-1">Share:</div>
                                    <a href="https://www.facebook.com/sharer.php?u={{ request.build_absolute_uri }}" target="_blank" class="d-inline-block media"><i class="fab fa-facebook-f"></i></a>
                                    <a href="https://www.twitter.com/intent/tweet?url={{ request.build_absolute_uri }}&text=Checkout {{ product.title }} via {{ site_info.name }}" target="_blank" class="d-inline-block media"><i class="fab fa-twitter"></i></a>
                                </div>
                            </div>
                            <div class="pricing">
                                <small class="text-red"
                                    style="font-weight: 700; font-size: 1.5em; color: hsl(0, 88%, 68%);">Tk
                                    {{ product.price }}</small>
                                <p class="text-right">{% if product.is_negotiable %}Negotiable {% else %} Fixed
                                    {% endif %}</p>
                            </div>
                        </div>
                        <div class="thumbnail-wrapper">
                            {% for photo in product.photo_set.all %}
                            {% if photo.is_primary %}
                            <img src="{% get_media_prefix %}{{ photo.file }}" alt="{{ product.title }}"
                                class="img-fluid rounded">
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="card my-3">
                    <div class="card-body detail-content">
                        <div class="mb-2 info">
                            <div class="d-flex">
                                <h6 class="sub-heading">Condition:</h6>
                                <small class="ml-2">
                                    {% if product.condition == 'used' %}
                                    Used
                                    {% elif product.condition == 'new' %}
                                    New
                                    {% endif %}
                                </small>
                            </div>
                        </div>
                        <hr>
                        <div>
                            <h6 class="sub-heading">Description:</h6>
                            <div class="description">{{ product.description}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-11" id="details-user">
                <div class="card my-3">
                    <div class="card-body text-center">
                        <div class="text-center">
                            {% if product.seller.profile.avatar %}
                            <img src="{% get_media_prefix %}{{ product.seller.profile.avatar }}"
                                alt="{{ product.seller.username }}">
                            {% else %}
                            <img src="{% static '/img/default-user-avatar.jpg' %}" alt="">
                            {% endif %}
                        </div>
                        <small class="d-inline-block pt-1">For sale by</small>
                        <h6 style="font-weight: 800; font-size: .95em;">{{ product.seller.first_name }}
                            {{ product.seller.last_name }}</h6>
                        <hr>
                        <div class="d-flex justify-content-center">
                            <div class="flex-1">
                                <button class="btn btn-danger btn-lg mr-2">
                                    <i class="fas fa-phone mr-2"></i>{{ product.contact }}
                                </button>
                            </div>
                            <div class="flex-1">
                                <a href="/posts/?userid={{ product.seller.id }}" class="btn btn-light btn-lg">View all
                                    ads</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card my-3">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="w-100">
                                <div class="alert alert-warning">
                                    Safety Tips
                                </div>
                                <ul class="list-unstyled pl-1" style="font-size: 15px">
                                    <li>Meet seller at a safe location</li>
                                    <li>Check the item before you buy</li>
                                    <li>Pay only after collecting item</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function () {


    });
</script>
{% endblock %}