<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto py-5">
                <h1>Setup Page</h1>
                <form method="post" action={% url 'setup-site' %}>
                    {% csrf_token %}
                    <input type="text" name="name" class="form-control mt-2" placeholder="Site Name">
                    <input type="text" name="tagline" class="form-control mt-2" placeholder="Site Tagline">
                    <input type="text" name="email" class="form-control mt-2" placeholder="Site Email">
                    <input type="text" name="address" class="form-control mt-2" placeholder="Site Address">
                    <input type="text" name="contact" class="form-control mt-2" placeholder="Site Contact">
                    <input type="submit" class="btn btn-primary mt-2">
                </form>
            </div>
        </div>
    </div>
</body>